body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

h1 {
  color: red !important;
  font-size: 2rem;
  text-align: center;
  font-weight: normal;
}

@media (min-width: 600px) {
  h1 {
    color: green;
    font-weight: bold;
  }
}

@media (min-width: 800px) {
  h1 {
    color: orange;
    text-align: right;
  }
}
