* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
  padding: 12px;
}

.container {
  position: relative;
  /* z-index: 0; */
  border: 2px dashed blue;
  height: 80px;
}

.item {
  width: 80px;
  height: 80px;
  font-weight: bold;
  border-radius: 6px;
  padding: 6px;
  border: 2px solid black;
}

.el1 {
  background-color: lightblue;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.el2 {
  background-color: lightcoral;
  position: absolute;
  top: 30px;
  left: 30px;
}

.el3 {
  background-color: lightgoldenrodyellow;
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 100;
}

.el4 {
  background-color: lightgreen;
  position: absolute;
  top: 70px;
  left: 70px;
  z-index: 40;
}

.el5 {
  background-color: lightpink;
  position: absolute;
  top: 90px;
  left: 90px;
  z-index: 30;
}

.el6 {
  background-color: lightsalmon;
  position: absolute;
  top: 110px;
  left: 110px;
  z-index: 100;
}

.group {
  position: relative;
  z-index: 20;
}
