@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: Georgia, serif; */
  font-family: "Great Vibes";
}

blockquote {
  border-left: 1px solid rgb(221, 221, 221);
  font-style: italic;
}

blockquote .author{
    text-align: right;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

table thead {
  text-align: left;
  background-color: gray;
}

table th,
table td {
  border: 1px solid gray;
}

table tbody tr:nth-child(odd){
    background-color: lightgray;
}


ul{
    list-style: square;
}
ul ul{
    list-style: disc;
}

ul ul ul{
    list-style: circle;
}