body {
  background-color: lightgray;
  padding: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 24px;
}

/* ----------------
    Card component 
---------------- */
.card {
  /* width: 360px; */
  /* width: 80%; */
  border: 2px solid black;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
}

.thumbnail {
  /* width: 100%; */
  /* height: 360px; */
  aspect-ratio: 1 / 1;

  /* background-image: url("https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
}

.thumbnail__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding: 12px 18px;
  text-align: center;
}

.content__title {
  font-size: 21px;
  margin-bottom: 6px;
}

.content__badge {
  display: inline-block;
  padding: 4px 16px;
  border-radius: 16px;
  margin-bottom: 32px;
  background-color: #fff5f1;
  color: #ff9671;
}

.content__section-title {
  text-align: left;
  font-size: 14px;
  margin-bottom: 6px;
  color: gray;
}

ul.content__projects {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 6px;
  text-align: left;
  font-size: 0px;
}

.project {
  background-color: lightgray;
  border-radius: 4px;
  display: inline-block;
  padding: 2px 6px;
  font-size: 16px;
  /* margin-right: 4px; */
}

/* .project:last-child{
    margin-right: 0px;
} */
.project:first-child {
  margin-bottom: 4px;
}

.project:not(:last-child) {
  margin-right: 4px;
}
