body {
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
  width: 200px;
  border: 1px solid #e3e3e3;
  font-size: 14px;
  line-height: 20px;
  background-color: #f5f5f5;
}

li {
  list-style: none;
  line-height: 25px;
  margin-left: -15px;
}

a {
  text-decoration: none;
  color: #c83025;
}
i {
  width: 1.14em;
  padding-right: 0.28em;
}

button {
  top: 4px;
  bottom: 4px;
  left: 12px;
  right: 12px;
  color: #fff;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

button.shopping{
    background-color: #83a94c;
    color: black;
    transition: all 300ms linear;
}

button.shopping:hover{
    background-color: #34441e;
    color: white;
}

button.info{
    background-color: #008ed0;
}
button.delete{
    background-color: #cc4036;
}
