* {
  box-sizing: border-box;
}

.container {
  /* max-width: 85vw; */
  display: flex;
}

.container section {
  display: flex;
  /* align-items: center; */
  text-align: center;
}

.container .item {
  border: 1px solid black;
  padding: 12px;
  display: block;
}

.container .week {
  width: 75%;
  flex-wrap: wrap;
  /* gap: 1px; */
  /* background-color: black; */
}

.container .week .item {
  width: 20%;
  /* flex: 1 1 18%;
  background-color: white; */
}

.container .week .item:nth-child(1),
.container .week .item:nth-child(7) {
  width: 100%;
  /* flex-basis: 100%; */
}

.container .week .item:nth-child(8),
.container .week .item:nth-child(9) {
  width: 50%;
}

.container .notes {
  width: 25%;
  flex-direction: column;
}

.container .notes .item {
  /* width: 100%; */
  flex: 1 1 100%;
}

/* GRID example */

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr) 25%;
  grid-template-rows: repeat(4, 50px);
}

.grid-container .item {
  border: 1px solid black;
  padding: 12px;
  display: block;
}

.grid-container .item {
  grid-column: span 2;
}

.grid-container .item:nth-child(10),
.grid-container .item:nth-child(11) {
  grid-column: span 5;
}

.grid-container .item:nth-child(1),
.grid-container .item:nth-child(8) {
  grid-column: 1 / span 10;
}

.grid-container .item:nth-child(2) {
  grid-column: 11;
  grid-row: 1 / span 2;
}

.grid-container .item:nth-child(9) {
  grid-column: 11;
  grid-row: 3 / span 4;
}
