/* 
  bg - #070e27
  bg-light - #162044
  priamry - #0059f7
  gray - #7e8bb6
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #070e27;
  color: #fff;
}

p {
  color: #7e8bb6;
}

.header {
  padding: 16px 64px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid #7e8bb6;
  position: sticky;
  top: 0px;
  background-color: #070e27;
}

.header .navigation {
  margin-left: auto;
  margin-right: 24px;
}

.header .nav-list {
  display: flex;
  gap: 12px;
}

.header .nav-list a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Buttons */

.btn {
  border: none;
  border-radius: 4px;
  background-color: #162044;
  color: #fff;
  padding: 8px 20px;
  cursor: pointer;
}

.btn.btn-primary {
  background-color: #0059f7;
}

/* Hero */

#hero {
  padding: 70px 64px;
}

#hero .welcome {
  max-width: 900px;
  margin: 0 auto 48px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero .welcome > * {
  width: 45%;
}

#hero .welcome .title {
  font-size: 48px;
  line-height: 1.2;
}

#hero .welcome .info {
  margin-bottom: 12px;
}

#hero .hero-img {
  margin: 0 auto 48px auto;
}

#hero .partners {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

/* ------------------
    HOW section
------------------ */

#how {
  padding: 70px 64px;
}

#how .section-subtitle {
  text-align: center;
  font-size: 14px;
  margin-bottom: 8px;
}

#how .section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 48px;
}

#how .row {
  display: flex;
  align-items: center;
  gap: 32px;
  max-width: 900px;
  margin: 0 auto;
}

#how .row:nth-child(even) {
  flex-direction: row-reverse;
}

#how .row:not(:last-child) {
  margin-bottom: 48px;
}

#how .row .row-img {
  width: 60%;
}

#how .row .title {
  font-size: 24px;
  margin-bottom: 12px;
}

#how .row .desc {
  font-size: 14px;
}
