/* 
#786eff - lilavo
#f6f8f9 - svetlo sivo
#646f79 - tumno sivo
#273240 - zaglavia
*/

body {
  font-family: Helvetica, sans-serif;
  color: #273240;
}

.enterprise {
  background-color: #f6f8f9;
  padding: 0 24px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 960px;
  margin: 60px auto;
}

.enterprise .info {
  width: 40%;
  padding: 48px 0;
}

.enterprise .subtitle {
  font-size: 14px;
  margin-bottom: 16px;
  font-weight: normal;
}

.enterprise .title {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: normal;
}

.enterprise .desc {
  margin-bottom: 20px;
  color: #646f79;
}

.enterprise .btn {
  all: unset;
  border: 1px solid #273240;
  padding: 12px 18px;
  border-radius: 6px;
  font-weight: bold;
}

.enterprise .btn.btn-primary {
  border-color: #786eff;
  background-color: #786eff;
  color: white;
  margin-right: 12px;
}

.enterprise .img {
  width: 30%;
}
